@tailwind components;
@tailwind utilities;
@tailwind base;
@layer base {
  @font-face {
    font-family: 'Bruno Ace';
    src: url("../../../public/fonts/BrunoAce-Regular.ttf") format('truetype');
  }

  @font-face {
    font-family: 'Nunito';
    src: url('../../../public/fonts/Nunito-Medium.ttf') format('truetype');
  }

  body {
    font-family: 'Nunito', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Bruno Ace', serif;
  }
}
